#content {
  margin-left: $sidebar-width;
}

#content .navbar {
  border-bottom: 1px solid $border-color;
}

.sidebar-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  #content {
    margin-left: 0;
  }

  .sidebar-burger {
    display: inline-block;
  }
}
